{% extends "base.html" %}
{% block content %}
 

	<section class="section-account">
			<div class="img-backdrop" style="background-image: url('../../assets/img/img16.jpg')"></div>
			<div class="spacer"></div>
			<div class="card contain-sm style-transparent">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-2">
							<br>
							<span class="text-lg text-bold text-primary">LOGIN</span>
							<br><br>
							<form class="form form-validate floating-label"  method="post"> {% csrf_token %}
								{% if form.non_field_errors%}
								<div class="alert alert-danger" role="alert">
									{{form.non_field_errors|removetags:"ul li"}}
								</div>
								{% endif %}
								<div class="form-group {% if form.errors.username %}has-error{%endif%}">
									<input type="text" class="form-control" id="username" name="username">
								
									<span id="Name1-error" class="help-block">
										{{ form.errors.username|removetags:"ul li" }}
									</span>
									<label for="username">Username</label>

								</div>
								<div class="form-group {% if form.errors.password %}has-error{%endif%}">
									<input type="password" class="form-control" id="password" name="password">
									<span id="Name1-error" class="help-block">
										{{ form.errors.password|removetags:"ul li" }}
									</span>
									<label for="password">Password</label>
								</div>
								<br>
								<div class="row">
									<div class="col-xs-6 text-left">
										
									</div><!--end .col -->
									<div class="col-xs-6 text-right">
										<button class="btn btn-primary btn-raised" type="submit">Login</button>
									</div><!--end .col -->
								</div><!--end .row -->
							</form>
						</div><!--end .col -->
			
						</div><!--end .card-body -->
					</div><!--end .card -->
				</section>
{% endblock content %}