{% extends "base.html" %}
{% block content %}

{% load widget_tweaks %}

<div class="section-body">
  <div class="col-lg-offset-1 col-md-8">
    <form class="form form-validate floating-label" novalidate="novalidate" method="post">{% csrf_token %}
      <div class="card">
        <div class="card-body">
          <div class="form-group">
              {{ form.nombre|add_class:"form-control" }}
              <label for="Name1">Nombre</label>
          </div>
        </div><!--end .card-body -->
        <div class="card-actionbar">
          <div class="card-actionbar-row">
            <button type="submit" class="btn ink-reaction btn-raised btn-primary">Guardar</button>
          </div>
        </div><!--end .card-actionbar -->
      </div><!--end .card -->
    </form>
  </div>
</div>

{% endblock content %}


