{% extends "base.html" %}
{% block content %}

{% load staticfiles %}

<section class="style-default-bright">
	<div class="section-body">
		<h2 class="text-primary">Marca</h2>
	<a href="/Createmarca" class="btn waves-effect teal waves-light"><i class="mdi-content-add left"></i>Agregar</a>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
				</tr>
			</thead>
			<tbody>
			{% for datos in object_list %}
				<tr>
					<td>{{datos.nombre}}</td>
					<td class="text-right">
						<a href="/edit_marca/{{ datos.id }}" class="btn ink-reaction btn-floating-action btn-info"><i class="fa fa-pencil"></i></a>

						<a href="/delete_marca/{{ datos.id }}" class="btn ink-reaction btn-floating-action btn-danger"><i class="fa fa-trash-o"></i></a>	

					</td>
				</tr>
			{% endfor %}

			</tbody>
		</table>
		{% include "cliente/_pagination.html" %}
	</div><!--end .section-body -->
</section>
{% endblock content %}

